<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/login_style.css" />
    <title>Login</title>
  </head>
  <body>
    <h2 id="loginHeader">Login Page</h2>
    <div>
      <form action="", method="post", accept-charset="uft-8">
         <div>
           <p> This application demonstrates an OAuth2.0 connection. Click
               the button below in order to display your name and Google
               Plus URL.
           </p>
         </div>
         <div  class = "text-center">
            <input id="googleAuth" type="submit" class="btn btn-large"
             value="Get Google Plus Info">
        </div>
      </form>
    </div>
  </body>
</html>