/*********************************************
 *Author: Molly Arwood
 *Date: 10-19-17
 *login_style.css
 *********************************************/


 body {
 	font-family: 'Roboto', sans-serif;
 	font-size: 1.75rem;
 }

#loginHeader {
	color: green;
}
